#wrap{}
#header{}
#section{}
#footer{}

/* content: '';
    display: block; 
    width:8px; 
    height:8px;
    border-bottom:2px solid #a7a7a7;
    border-right: 2px solid #a7a7a7; 
    transform: rotate(315deg);
    position: absolute;
    right: 0;
    top: 50%; */
    /* >모양 css */

/*********************header****************************/


/*********************section****************************/


/*********************footer****************************/